.ul {
  list-style: none;
  height: 400px;
  overflow-y: scroll;
  padding: 40px 10px 40px 20px;
}
.div-key {
  font-weight: 600;
  line-height: 30px;
  font-size: 20px;
  display: flex;
  border-bottom: 1px solid black;

  justify-content: space-between;
}

.wrapper_price_amount {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wrapper_price_amount > div {
  border: 1px solid gray;
  border-radius: 4px;
  background-color: transparent;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  margin-left: 12px;
}

.Order_h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.general {
  display: flex;
  gap: 15px;
  padding: 45px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Price-Order {
  color: #ad5502;
}
.close {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29px 0px 0px 31px;
}
h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
