.Order_h1{
    font-size: 20px;
    color: #222222;
    font-weight: 600;
    align-items: center;
    line-height: 30px;
    margin-top: 40px;
    margin-left: 32px;

}
.Price-Order{
    font-size: 18px;
    font-weight: 600;
    color:  #AD5502;
    margin-bottom: 86px;
    margin-left: 32px;
    border-bottom: 1px solid  #D6D6D6;
}