button {
  width: 110px;
  height: 44px;
  padding: 10px, 20px, 10px, 20px;
  color: #8a2b06;
  border-radius: 20px;
  border: 1px solid #8a2b06;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
button:hover {
  background-color: #8a2b06;
  color: white;
}

button:active {
  background-color: #993108;
}

.contained {
  background-color: #8a2b06;
  color: white;
}
.contained:hover {
  background-color: #7e2a0a;
  color: white;
}

.contained:active {
  background-color: #993108;
}
.contained:disabled {
  background-color: #cac6c4;
  color: white;
  border: none;
}
.outlined:disabled {
  border: 1px solid #cac6c4;
  background-color: transparent;
  color: #cac6c4;
  cursor: pointer;
}

.contained:active {
  background-color: #993108;
}
.contained:disabled {
  background-color: #cac6c4;
  color: white;
  border: none;
}
.outlined:disabled {
  border: 1px solid #cac6c4;
  background-color: transparent;
  color: #cac6c4;
  cursor: pointer;
}


.btnicon {
  font-size: 30px;
  align-items: center;
  color: #8a2b06;
  border-radius: 15px;
  text-align: center;
  border: 2px solid #8a2b06;
  width: 70px;
  height: 44px;

  cursor: pointer;
}
.btnicon:hover {
  background-color: #8a2b06;
  color: #ffffff;
}
.btnicon:active {
  background-color: #993108;
  color: #ffffff;
}
.btnicon:disabled {
  background-color: #cac6c4;
  color: #ffffff;
  border: none;
}

   

