.btn-form {
  width: 249px;
  height: 59px;
  background: #5a1f08;
  border-radius: 30px;

  border: none;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  cursor: pointer;

  font: 16px;
  font-weight: 600;
}
.btn-form:active {
  animation-name: button-animation;
  transform: scale(1.05);
  animation-duration: 300ms;
}
.btn-form:hover > b-title:after {
  background-color: #7c2a0e;
}
.btn-form {
  scale: 1.1;
  transition: 0.1s;
}
.b-title:hover {
  animation-name: button-animation;
  animation-duration: 0.1s;
}

.button:active {
  animation-name: button-animation;
  transform: scale(1.05);
  animation-duration: 300ms;
}

@keyframes button-animation {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  to {
    transform: scale(1.07);
  }
}

.b-title {
  width: 51px;
  height: 35px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  background: #8a2b06;
  display: flex;
  align-items: center;
  justify-content: center;
}
